# create by https://github.com/iamcco/coc-gitignore (Sun Apr 25 2021 18:08:32 GMT+0200 (Central European Summer Time))
# Java.gitignore:

# Specific Files
TestTripsFromTicketText.txt
asd
Correct_FileArchitecture*.png

# Compiled class and config Files
*.class
out/
out/**/*

# Scripts and config Files
scripts
*.iml
.idea/
idea/**/
.idea
CS108_Project-tCHu.iml
*.ps1

# Log and annotations Files
*.log
ch\epfl\tchu\game\annotations.xml

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
