# create by https://github.com/iamcco/coc-gitignore (Sun Apr 25 2021 18:08:32 GMT+0200 (Central European Summer Time))
# Java.gitignore:

# Specific Files
Correct_FileArchitecture*.png

# Compiled class and config Files
*.class
out/
out/**/*

# Scripts and config Files
scripts
#Tchu_Jar_Executable
*.iml
.idea/
idea/**/
.idea
CS108_Project-tCHu.iml
*.wav

# Log and annotations Files
*.log
ch/epfl/tchu/game/annotations.xml

# Package Files and files too big to be uploaded
*.wav
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Exception for the music files
!/res/music/*.zip
