/* Player information */

#player-stats {
    -fx-spacing: 10;
    -fx-padding: 10;
}

#player-stats Circle {
    -fx-stroke: dimgrey;
    -fx-stroke-width: 1;
}

#game-info {
    -fx-padding: 10 3 10 3;
    -fx-pref-width: 200;
    -fx-line-spacing: 3;
}
